.container-modal {
    margin: 25% auto;
    width: 50%;
    height: 50%;
}

.modal-header {
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    width: 100%;
}

.inline-modal-p {
    text-align: center;
    padding-top: 50px;
}

.right, .left {
    margin: 10px;
}
